{% extends "common/layout_user.html" %}

{% block content%}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 text-center'>
                <h2>登录图片</h2>
                <img src="{{url_for('static',filename='image/4.png')}}" alt="" width="400px" height="300px">
            </div>
            <div class='col-md-6'>
                <div class='ibox-content'>
                    <div class='m-t login_wrap'>
                        <div class="form-group">
                            <div class='form-group'>
                                <h2 class='font-bold text-center'>登录</h2>
                            </div>
                            <label >用户名</label>
                            <input type="text" class="form-control" name='login_name' placeholder="username">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input type="password" class="form-control" name='login_pwd' id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <button type="submit" class="btn btn-primary block full-width m-d do-login">Submit</button>
                    </div>
                </div>
               
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <a href="">powered by 1903c</a>
            </div>
            <div class="col-md-6 text-right">
                <small>&copy; 1903 - 2020</small>
            </div>
        </div>
    </div>
{% endblock%}

{% block js%}
<script src="{{url_for('static',filename='js/user/login.js')}}"></script>
{% endblock%}